body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f2f2f2;
  }

#myImage {
    transition: opacity 1s ease; /* Add a transition for opacity change */
}